[user]
	email = stan@stormier.ninja
	name = Stanislas Ormières
[alias]
	ap = add -p
	br = branch
	bv = "br -vv"
	cb = "rev-parse --abbrev-ref HEAD" # *c*urrent *b*ranch
	ci = commit
	co = checkout
	cm = commit -m
	df = diff
	ds = diff --staged
	h = log --format='%C(yellow)%h%Creset %C(red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --graph
	last = !git --no-pager log -1 -p --stat HEAD
	lg = log --oneline --decorate --graph
	oops = commit --amend
	sre = "!f() { git log -S$1 --pickaxe-regex ; }; f"
	st = status
	sw = switch
	sc = "switch -c"
	unstage = reset HEAD
	us = unstage
	root = rev-parse --show-toplevel
[push]
	default = simple
[status]
	showUntrackedFiles = all
[diff]
	wordRegex = .
	tool = meld
[branch]
	autosetuprebase = always
	rebase = preserve
[credential]
	helper = cache --timeout=3600
[color]
	ui = always
[rerere]
	enabled = true
[core]
  pager = less -Fr
  