[user]
	email = laruiss@gmail.com
	name = Stanislas Ormières
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	oops = commit --amend
[push]
	default = simple
[status]
	showUntrackedFiles = all
[diff]
	wordRegex = .
